/***** Font *****/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, input, textarea, select, button {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/**** Leaderboard ****/


/***** Layout *****/
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background:rgb(11, 69, 107);
    color: #fff;
    padding: 10px 50px;
    clear: both;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

header h2 {
    margin: 0;
    padding-left: 40px;
    background: url(../image/favicon.png) no-repeat left center / 32px 32px;
    float: left;
}

header h2 a {
    color: inherit;
    text-decoration: none;
}

header h5{
    margin: 0;
    float: right;
    padding-top: 5px;
}

main {
    padding: 20px 50px;
    flex: 1 1 auto;
    touch-action: none;
    user-select: none;
}

#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}


#login{
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: #3e13b6;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 1.5em;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#welText{
    text-align: center;
}

#welText p{
    margin: 0;
    font-size: 1.8em;
    justify-content: center;
    align-items: center;
}

#head{
    display: flex;
    justify-content: center;
}

#outer{
    display: table;
}

.inner{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

#outer p{
    font-weight: bolder;
    font-size: 1.2em;
    margin: 0px;
}

#options{
    display: flex;
    justify-content: center;
}

#options button{
    margin: 6px;
    margin-top: 15px;
}

#logo{
    margin: 0px;
    font-size: 62px;
    letter-spacing:2px;
    font-weight:bold;
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#lists{
    display: flex;
    justify-content: center ;
}

#RoomForm{
    padding-top: 12px;
}

#RoomForm .btn{
    margin-top: 5px;
    margin-bottom: 10px;
}

#RoomForm input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/**** Game.html ****/
#app{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-right: 10px;
}

.canvas-header{
    /* box-shadow: 0px 1px 5px #888, 0px -1px 5px #888; */
    margin: 0px;
    padding: 18px 16px;
    background-color: #2460A7FF;
    color: white;
    position: relative;
}

.canvas-header h2{
    margin: 10px 0px;
}

.canvas-body{
    position: relative;
}

.board-header{
    margin: 0px auto;
    padding: 2px 16px;
    background-color: #2460A7FF;
    color:white;
}

.board-header p{
    margin: 10px 0px;
    font-weight: bold;
    font-size: 1em;
}

.board-body{

}

.board-body ol{
    padding: 0px;
    margin: 0px;
    
}

.board-body ol li{
    list-style-position: inside;
    padding:5px;
    border: 1px solid gray;;
}

#hiddenBoard{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scoreBoard{

}

.scoreBoard h2{
    text-align: center;
    color: black;
}

.playerRanks{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.playerRanks td, th{
    padding: 10px;
}

.onlinePlayers ul{
    padding: 0 auto;
    margin: 0;
}

.onlinePlayers ul li{
    list-style: none;
}


.msgBar{
    border: 1px solid gray;
    position: relative;
    height: auto;
}

.messages ul{
    padding:0px;
    margin:0px;
}

.messages ul li{
    list-style: none;
    padding: 5px;
}

#chatInput:focus{
    outline: none;
}

#waitText{
    width: 100%;
    padding: 6px 0px 6px 0px;
    position: absolute;
    background: #B3C7D6FF;
    top: 40%;
    left: 50%;
    font-size: 1.5em;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#waitText p{
    text-align: center;
    font-weight: bolder;
}

/***** Input *****/
input[type=text] {
    padding: .5em .6em;
    box-sizing: border-box;
    border-radius: 4px;
}



/***** General *****/
.btn{
    background-color: rgb(118, 160, 189); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor:pointer
}

.btn:focus{
    outline: none;
}

.btn-join{
    background-color: #90c9f8;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor:pointer
}

.btn:disabled{
    opacity: 0.9;
    cursor:not-allowed;
}

.tbl{
    margin: 10px;
    width: 20%;
    border-collapse: collapse;
}

.tbl th{
    background-color: rgb(9, 139, 226);
    color: white;
    padding: 10px;
    border: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tbl td{
    border:0px;
    background-color: rgb(194, 206, 247);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}




/*** Modal ***/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: blue;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

/***** Timer *****/
.base-timer {
    position: relative;
    width: 70px;
    height: 70px;
    
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 9px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 9px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
  }

/**** Loading dots *****/
.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}
  
  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: white;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}}
  

/***** Media Query *****/
@media only screen and (max-width: 960px) {
    main {
        padding: 10px;
    }

    #lists {
        display: block;
    }

    .tbl{
        width: 95%;
    }

    .modal-content {
        width: 80%;
    }
    
}